[DatabaseConfig]
Server=localhost
Database=penjualan_visual_db
Uid=root
Pwd=YOUR_PASSWORD_HERE
Port=3306

[AppConfig]
AppName=Aplikasi Penjualan MVC
Version=1.0.0
Author=Nandang Duryat (312310233)
University=Universitas Pelita Bangsa
